<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>Coding Events</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
    <script th:src="@{/script.js}"></script>
</head>
<body>

    <header th:fragment="header">
    <h1 th:text="${title}">Coding Events</h1>

        <nav>
            <ul>
                <li><a href="/events">All Events</a></li>
                <li><a href="/events/create">Create New Event</a></li>
            </ul>
        </nav>
    </header>

</body>
</html>